<template>
 <app-layout>
<template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                API Tokens
            </h2>
        </template>

        
  <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
            </thead>
            <tr v-for="row in data.data" v-bind:key="row.id">
                 
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
                <td width="130">
                    <button  class="btn btn-sm btn-primary">Edit</button>
                    <inertia-link  class="btn btn-sm btn-primary" href="">Home</inertia-link>

                    <button @click="deleteRow(row)" class="btn btn-sm btn-danger">Del</button>
                </td>
            </tr>
        </table>
      
<pagination :data="data" @pagination-change-page="getResults"></pagination>

 
 </app-layout>
</template>

<script>
import Vue from 'vue';
import AppLayout from '@/Layouts/AppLayout'
Vue.component('pagination', require('laravel-vue-pagination'));

    export default {
        components: {           
          AppLayout,
        },
        props: ['data', 'errors'],
    
       
        data() {
           return {
         
            }
        
        },

 
         methods: {
             deleteRow: function (data) {
                if (!confirm('Sure')) return;
                data._method = 'POST';
                this.$inertia.post('/users/delete/' + data.id, data)
               // this.reset();
               // this.closeModal();
            },

             getResults(page = 1) {
                 this.$inertia.get('/home?page=' + page)            
        }

         },

        
    }
</script>