<template>
 <app-layout>
<template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                API Tokens
            </h2>
        </template>

        
  <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
            </thead>
            <tr v-for="row in data.data" v-bind:key="row.id">
                 
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
                <td width="130">
                    <button  class="btn btn-sm btn-primary">Edit</button>
                    <inertia-link  class="btn btn-sm btn-primary" href="">Home</inertia-link>

                    <button @click="deleteRow(row)" class="btn btn-sm btn-danger">Del</button>
                </td>
            </tr>
        </table>
         <pagination 
                        :meta_data="meta_data"
                        v-on:next="fetchUsers">
          </pagination>


 
 </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import Pagination from '@/Pagination/Pagination'
    export default {
        components: {           
          AppLayout,
          Pagination,
        },
        props: ['data', 'errors'],
       
        data() {
           return {
             //users: [],
            meta_data: {
                // last_page: null,
                // current_page: 1,
                // prev_page_url: null
            }
            }
        
        },

  mounted() {
        this.fetchUsers();
    },
         methods: {
             deleteRow: function (data) {
                if (!confirm('Sure')) return;
                data._method = 'POST';
                this.$inertia.post('/users/delete/' + data.id, data)
               // this.reset();
               // this.closeModal();
            }
         },

         fetchUsers(page = 1) {
             this.data();
             console.log(this.data());
            // this.users = res.data.data;
            // this.meta_data.last_page = res.data.last_page;
            // this.meta_data.current_page = res.data.current_page;
            // this.meta_data.prev_page_url = res.data.prev_page_url;             
       
        },
    }
</script>